<ion-modal-view>
  <ion-header-bar>
    
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCalc()">取消</button>
    </div>
    <h1 class="title">預估車資</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <ion-list>
      <div class="item" id="calc-map"></div>
      <div class="item">
        <p>
          <i class="icon-location start-at"></i>
          {{startAddress}}
        </p>
        <p>
          <i class="icon-location end-at"></i>
          {{endAddress}}
        </p>
      </div>
      <div class="item item-divider">
        基本里程計算
      </div>
      <div class="item">
        <p>路程：{{distance}}</p>
        <p class="important" ng-show="distanceValue <= 6000">未超過 6 公里，最低 500 元。</p>
        <p class="important" ng-show="distanceValue > 6000">超過 6 公里，超過 50 元 / 1 公里。</p>     
      </div>
      <div class="item item-divider">
        特殊狀況增加費
      </div>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        無鑰匙
        <span class="item-note">需證件證明,加輔助輪</span>
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        無法發動
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        改裝低底盤
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        車輛位於地下室
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        一輪以上鎖死, 無法推動
        <span class="item-note">需動用吊桿</span>
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        車輛靠牆
        <span class="item-note">無法使用全載</span>
      </li>
      <div class="item">
        <p><span>基本里程費用： </span><span class="text-right">{{distancePrice}}</span></p>
        <!-- <p class="important" ng-show="nightPrice"><span>夜間加成費用： </span><span class="text-right">{{nightPlusPrice}}</span></p> -->
        <!-- <p><span>動用吊桿： </span><span class="text-right">1000</span></p> -->
        <!-- <p><span>使用輔助輪： </span><span class="text-right">500</span></p> -->
        <hr>
        <p class="important"><span>合計費用： </span><span class="text-right">{{distancePrice}}</span></p>
      </div>
      <div class="bottom-wrapper">
        <button class="button button-block button-royal" ng-click="ask()">
          確認在此處叫車
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>