<ion-view view-title="我的訂單">
  <ion-content has-bouncing="true">
    <div class="list card order-list" ng-repeat="order in orders | orderBy: '-createdAt'">
      <div class="item">
        <h2>{{order.createdAt | date:'yyyy年MM月dd日 h:mma'}}</h2>
        <p ng-class="{ 'important': order.attributes.status=='等待派車中', 
        'doing': order.attributes.status=='出車中',
        'finish': order.attributes.status=='已完成' }">{{order.attributes.status}}</p>
      </div>
      <div class="item item-body">
        <img ng-src="{{order.map}}">
        <p>
          <i class="icon-location start-at"></i>
          {{order.attributes.result.request.origin}}
        </p>
        <p>
          <i class="icon-location end-at"></i>
          {{order.attributes.result.request.destination}}
        </p>
      </div>
      <div ng-hide="order.attributes.status=='等待派車中'" class="item tabs tabs-secondary tabs-icon-left">
        <a ng-show="order.attributes.status=='出車中'" class="tab-item" ng-click="tracking(order.attributes.car, order.attributes.result)">
          <i class="icon icon-location"></i>
          查看車輛位置
        </a>
        <a ng-show="order.attributes.status=='已完成'" class="tab-item">
          <i class="icon ion-clipboard"></i>
          查看明細
        </a>
        <a ng-show="order.attributes.status=='已完成'" class="tab-item">
          <i class="icon ion-star"></i>
          評價
        </a>
      </div>
    </div>  
  </ion-content>
</ion-view>