<ion-view view-title="尋找車輛" id="map-scope">
  <div id="map-canvas" style="height: 100%"></div>
  <div id="center-marker" class="hide-on-keyboard-open">
    <div class="marker">
      <div class="dot"></div>
      <div class="pulse"></div>
    </div>
  </div>
  <button id="gps-location" ng-class="{ 'active': isCenter }" ng-click="getCenter()">
    <i class="icon-my_location"></i>
  </button>
  <div class="information hide-on-keyboard-open" ng-show="info.length" ng-cloak>
    {{info}}
    <div class="deliver-time" ng-show="info=='設定起運地點'">{{deliverTime}}</div>
  </div>
  <div id="fix-footer">
    <span class="icon-location start-at"></span>
    <div class="start-wrapper"><span class="start"></span></div>
    <span class="icon-location end-at"></span>
    <form class="end-wrapper" ng-submit="findAddress(endAddress)">
      <span class="end">
        <label class="item-input-wrapper">
          <input type="text" ng-model="endAddress" placeholder="輸入拖運終點">
        </label>
      </span>
      <button type="submit" class="button-positive" ng-disabled="!endAddress || endAddress.length==0">估算</button>
    </form>
  </div>
</ion-view>
