<ion-view view-title="車輛狀況">
  <ion-content has-bouncing="true">
    <ion-list>
      <div class="item item-divider">
        車輛形式
      </div>
      <label class="item item-radio">
        <input type="radio" name="car-type" ng-model="carType" value="一般自小客">
        <div class="item-content">
          一般自小客
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="car-type" ng-model="carType" value="3.5 噸貨車">
        <div class="item-content">
          3.5 噸貨車
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="car-type" ng-model="carType" value="特殊車輛">
        <div class="item-content">
          特殊車輛（超跑、超長超寬）
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>


      <div class="item item-divider">
        傳動方式
      </div>
      <label class="item item-radio">
        <input type="radio" name="drive-type" ng-model="driveType" value="前輪驅動">
        <div class="item-content">
          前輪驅動
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="drive-type" ng-model="driveType" value="後輪驅動">
        <div class="item-content">
          後輪驅動
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="drive-type" ng-model="driveType" value="四輪驅動">
        <div class="item-content">
          四輪驅動
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <div class="item item-divider">
        特殊狀況
      </div>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        無鑰匙
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        無法發動
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        改裝低底盤
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        車輛位於地下室
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        一輪以上鎖死, 無法推動
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        車輛靠牆
      </li>
      <li class="item item-checkbox">
        <label class="checkbox">
         <input type="checkbox">
        </label>
        指定全載
      </li>

    </ion-list>
    <div class="bottom-wrapper">
      <button class="button button-block button-positive" ng-click="next()">
        下一步
      </button>
    </div>
  </ion-content>
</ion-view>