/* line 3, ../../scss/style.scss */
.start-at {
  color: #249E0B;
}

/* line 6, ../../scss/style.scss */
.end-at {
  color: #EE1507;
}

/* line 11, ../../scss/style.scss */
.service-wrapper .button.button-block, .service-wrapper .button.button-full {
  margin: 0;
}

/* line 16, ../../scss/style.scss */
#owl-demo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 21, ../../scss/style.scss */
#owl-demo .owl-controls {
  margin-top: -30px;
}

/* line 26, ../../scss/style.scss */
.owl-theme .owl-controls .owl-page span {
  width: 8px;
  height: 8px;
  background: #ffffff;
}

/* line 31, ../../scss/style.scss */
.owl-theme .owl-controls .owl-page.active span {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 36, ../../scss/style.scss */
#owl-wrapper.item {
  padding: 0;
  padding-top: 36.4%;
  position: relative;
  background: #333;
}

/* line 43, ../../scss/style.scss */
.owl-item .item-owl {
  padding: 0;
}
/* line 45, ../../scss/style.scss */
.owl-item .item-owl img {
  width: 100%;
}

/* line 51, ../../scss/style.scss */
#loading-screen {
  height: 100%;
  width: 100%;
  background: #ccc;
  position: relative;
}
/* line 56, ../../scss/style.scss */
#loading-screen .solgan-wrapper, #loading-screen .power-by {
  width: 320px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -41px;
}
/* line 65, ../../scss/style.scss */
#loading-screen h2 {
  text-align: center;
  color: #333;
}
/* line 69, ../../scss/style.scss */
#loading-screen .power-by {
  top: auto;
  bottom: 30px;
  height: 120px;
  text-align: center;
}
/* line 74, ../../scss/style.scss */
#loading-screen .power-by .logo {
  width: 80px;
}

/* line 80, ../../scss/style.scss */
#fix-footer {
  position: fixed;
  height: 98px;
  width: 100%;
  left: 0;
  top: 44px;
  padding: 10px 20px 10px 60px;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
}
/* line 91, ../../scss/style.scss */
#fix-footer .start-at, #fix-footer .end-at {
  color: #249E0B;
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}
/* line 98, ../../scss/style.scss */
#fix-footer .end-at {
  color: #EE1507;
  top: 60px;
}
/* line 102, ../../scss/style.scss */
#fix-footer .start-wrapper {
  text-align: center;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
}
/* line 108, ../../scss/style.scss */
#fix-footer .end-wrapper {
  margin-top: 10px;
  height: 34px;
  line-height: 34px;
  padding-right: 60px;
  overflow: hidden;
  position: relative;
}
/* line 115, ../../scss/style.scss */
#fix-footer .end-wrapper button {
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  width: 50px;
  border-radius: 3px;
  padding: 0;
  background-color: #4DAE4A;
  color: #fff;
  border: 0;
}
/* line 126, ../../scss/style.scss */
#fix-footer .end-wrapper button:disabled {
  background-color: #ccc;
  color: #000;
}

/* line 135, ../../scss/style.scss */
.item-input-wrapper input {
  width: 100%;
  background-color: transparent;
}

/* line 141, ../../scss/style.scss */
.item-input-wrapper.basement {
  width: 30px;
  display: inline-block;
  margin: 0 10px;
}

/* line 147, ../../scss/style.scss */
.bottom-wrapper {
  padding: 0 8px;
  position: relative;
}
/* line 150, ../../scss/style.scss */
.bottom-wrapper h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -54px;
}
/* line 156, ../../scss/style.scss */
.bottom-wrapper h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -81px;
}

/* line 164, ../../scss/style.scss */
.information {
  position: fixed;
  width: 240px;
  height: 40px;
  border-radius: 25px;
  background-color: #333;
  color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -120px;
  margin-top: -70px;
  line-height: 40px;
  text-align: center;
}
/* line 177, ../../scss/style.scss */
.information.tracker {
  top: 40px;
  margin-top: 0;
}
/* line 181, ../../scss/style.scss */
.information .deliver-time {
  position: absolute;
  width: 60px;
  height: 36px;
  top: 2px;
  left: 2px;
  border-radius: 18px;
  border: 1px solid #f1f1f1;
  font-size: 12px;
  line-height: 36px;
}

/* line 195, ../../scss/style.scss */
.item .important {
  color: #f00;
}
/* line 198, ../../scss/style.scss */
.item .doing {
  color: #249E0B;
}
/* line 201, ../../scss/style.scss */
.item .finish {
  color: #21ADCD;
}
/* line 204, ../../scss/style.scss */
.item .text-right {
  float: right;
}

/* line 209, ../../scss/style.scss */
#center-marker {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;
}

/* line 219, ../../scss/style.scss */
#gps-location {
  position: fixed;
  right: 15px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 0;
  font-size: 1.5em;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.55);
  padding: 0;
  background-color: #f1f1f1;
}
/* line 233, ../../scss/style.scss */
#gps-location.active {
  color: #00a6cd;
}

/* line 238, ../../scss/style.scss */
.marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
}

/* line 246, ../../scss/style.scss */
.pulse {
  width: 16px;
  height: 16px;
  border: 2px solid #f1f1f1;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #00a6cd;
  z-index: 10;
  position: absolute;
  top: 25px;
  left: 25px;
  margin-top: -8px;
  margin-left: -8px;
}

/* line 266, ../../scss/style.scss */
.dot {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  border: 10px solid #4079bb;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-animation: flash 2s ease-out;
  -moz-animation: flash 2s ease-out;
  animation: flash 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -moz-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 0.0;
  }
}
@-webkit-keyframes "flash" {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
  }
}
/* line 303, ../../scss/style.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* line 307, ../../scss/style.scss */
#calc-map.item {
  padding: 0;
  height: 200px;
  width: 100%;
}

/* line 314, ../../scss/style.scss */
#tracker-map-wrapper > div {
  height: 100%;
}

/* line 319, ../../scss/style.scss */
#tracker-map {
  height: 100%;
}

/* line 325, ../../scss/style.scss */
.order-list .item img {
  width: 100%;
}

/* line 331, ../../scss/style.scss */
ion-side-menu.menu {
  background: #333;
}
/* line 333, ../../scss/style.scss */
ion-side-menu.menu .list {
  background-color: #333;
}
/* line 336, ../../scss/style.scss */
ion-side-menu.menu .item-complex .item-content {
  background-color: #333;
}
/* line 339, ../../scss/style.scss */
ion-side-menu.menu .item {
  background: #333;
  color: #f1f1f1;
}
